<div class="row">
  <div class="col-sm-8 offset-sm-2 mt-4">
    <div class="text-center">
      <h2>パスワード再設定メールを送る</h2>
    </div>
    <%= simple_form_for(:password_reset, url: password_resets_path, html: { class: 'form-section' }) do |f| %>
      <%= f.input :email, autocomplete: :email, label: 'メールアドレス', required: false %>

      <div class="form-group">
        <%= f.submit '送信', class: 'btn btn-primary btn-block btn-lg' %>
      </div>
      <%= render 'shared/links' %>
    <% end %>
  </div>
</div>