<p><%= @user.username %>様</p>
<p>パスワード再設定の依頼を受けたため、メールを送信しています。下のリンクからパスワードの再設定ができます。</p>
<p>
  <%= link_to 'パスワード変更', edit_password_reset_url(@user.reset_token, email: @user.email) %>
</p>

<p>パスワード再設定の依頼をしていない場合、このメールを無視してください。</p>
<p>パスワードの再設定は、上のリンクから新しいパスワードを登録するまで完了しません。</p>