<div class="row">
  <div class="col-md-8">
    <h2 class="page__title">
      <%= icon('fas', 'folder-open') %>
      ストック一覧
    </h2>
    <%= render 'shared/articles/index', articles: @articles %>
  </div>
</div>